<!DOCTYPE html>
<html lang="en">
<head>
	<title>morning dawn photography</title>
	<meta charset="utf-8">
	<meta name="author" content="morningdawn.com">
	<meta name="description" content="morning dawn photography of minneapolis, minnesota"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/all.css">
</head>
<body>

	<header>
		<div class="logo">
			<a href="index.html"><img src="/img/logo.png" title="Logo" alt="Logo"/></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
                <li><a href="/">home</a></li>
				<li><a href="/about/">about</a></li>
				<li><a href="/archive/">blog</a></li>
				<li><a href="/contact/">contact</a></li>
			</ul>
		</nav><!-- end navigation menu -->

	</header><!-- end header -->

	<section class="main clearfix">